<p class="text-center text-muted" *ngIf="!animais">
  Desculpe não há animais
</p>

<div class="container">
  <div class="row hover-overlay hover-zoom hover-shadow ripple">
    <div *ngFor="let animal of animais" class="col-md-4 w-100">
      <a [routerLink]="['/animais', animal.id]">
        <app-cartao>
          <app-animal
            [url]="animal.url"
            [descricao]="animal.description"
          ></app-animal>
          <div class="text-center p-2">
            <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2">
              {{ animal.likes }}
            </i>
            <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2">
              {{ animal.comments }}
            </i>
          </div>
        </app-cartao>
      </a>
    </div>
  </div>
</div>
