.reset-button {
  background: transparent;
  margin: none;
  border: none;
  padding: none;
  outline-style: none;
}
/* From cssbuttons.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 10px 16px;
  transition: all 0.3s ease;
  border: none;
  background: none;
}

.cta:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #005aad;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #005aad;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.fa {
  font-size: 30px;
  color: #005aad;
}

.menuz{
  margin-top: 38px;

}
